{% extends 'layout-admin.html.twig' %}

{% block title %}{{ parent() }} Café et Cantine{% endblock %}

{% block content %}
    <section class="container">
        {% if get.deleted is defined %}
            <section class="row">
                {% if get.deleted == 'true' %}
                    <div class="alert alert-success">L'item {{ get.id }} a été supprimé.</div>
                {% elseif get.deleted == 'false' %}
                    <div class="alert alert-danger">L'item {{ get.id }} n'existe pas.</div>
                {% endif %}
            </section>
        {% endif %}
        <div class="row">
            <div class="col-md-6">
                <h1>Liste des plats et boissons</h1>
            </div>
            <div class="row">
                <div class="col-xs-4 col-xs-offset-8 col-sm-2 col-sm-offset-10 margin-b-10">
                <a href="restauration/add" type="button" class="btn btn-success">+ Ajouter</a>
                </div>
            </div>
        </div>
        <div class="row">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th class="hidden-xs">Description</th>
                        <th>Catégorie</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cateringItems %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }}</td>
                            <td class="hidden-xs">{{ item.description }}</td>
                            <td>
                                {% if item.categoryCateringid == 1 %} <span class="label label-info">Cantine</span> {% endif %}
                                {% if item.categoryCateringid == 2 %} <span class="label label-primary">Café</span> {% endif %}
                            </td>
                            <td>
                                <a href="/admin/restauration/{{ item.id }}" class="btn btn-warning"> Modifier </a>
                                <form class="admin-form-inline" method="POST" action="/admin/restauration/delete/{{ item.id }}">
                                    <input type="submit" class="btn btn-danger" value="Supprimer">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
{% endblock %}
{% block javascript %}
<script src="/admin/assets/js/cateringDelete.js"></script>
{% endblock %}
