{% extends 'layout-admin.html.twig' %}

{% block title %}{{ parent() }} Café et Cantine{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <h1>Liste des plats et boissons</h1>
        </div>
        <div class="row">
                <table class="table table-hover table-responsive">
                    <thead>
                    <tr>
                        <th>Id</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th class="hidden-xs">Description</th>
                        <th>Catégorie</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cateringItems %}
                        <tr>
                            <td>{{ item.id }}</td>
                            <td>{{ item.name }}</td>
                            <td>{{ item.price }}</td>
                            <td class="hidden-xs">{{ item.description }}</td>
                            <td>
                                {% if item.categoryCateringid == 1 %} <span class="label label-info">Cantine</span> {% endif %}
                                {% if item.categoryCateringid == 2 %} <span class="label label-primary">Café</span> {% endif %}
                            </td>
                            <td>
                                <form id="delete" method="POST" action="/admin/restauration/delete/{{ item.id }}">
                                    <input type="submit" id="deleteButton" class="btn btn-danger" value="Supprimer">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
    </section>
{% endblock %}
    {% block javascript %}
    <script src="/admin/assets/js/cateringDelete.js"></script>
    {% endblock %}