{% extends 'layout-admin.html.twig' %}

{% block title %}{{ parent() }} Café et Cantine{% endblock %}

{% block content %}
    <section class="container">
        <div class="row">
            <h1>Liste des boissons</h1>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="hidden-xs">Id</th>
                        <th>Nom</th>
                        <th class="hidden-xs">Prix</th>
                        <th class="hidden-xs">Description</th>
                        <th class="hidden-xs">Catégorie</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for item in cateringItems %}
                        <tr>
                            <th class="hidden-xs">{{ item.id }}</th>
                            <th>{{ item.name }}</th>
                            <th class="hidden-xs">{{ item.price }}</th>
                            <th class="hidden-xs">{{ item.description }}</th>
                            <th class="hidden-xs">{{ item.category_catering_id }}</th>
                            <th>Action</th>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}