{% extends 'layout-admin.html.twig' %}

{% block title %}{{ parent() }} - Restauration{% endblock %}

{% block content %}
    <section class="container">
        <h1>Restauration</h1>
        <h3>Modifier <i>{{ item.name }}</i> :</h3>
        {% if notification %}
            <div class="row">
            <div class="alert alert-info" role="alert">
                {{ notification }}
            </div>
            </div>
            {% endif %}
        <form method="post" role="form">
            <input type="hidden" name="id" value="{{ item.id }}">
            <div class="form-group">
                <label for="form-name">Nom</label>
                <input type="text" class="form-control" name="name" id="form-name" value="{{ item.name }}" required>
                {% if formErrors.name %}
                    {% for error in formErrors.name %}
                    <span class="help-block">{{ error }}</span>
                    {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="form-description">Description</label>
                <input type="text" class="form-control" name="description" id="form-description" value="{{ item.description }}" required>
            </div>
            <div class="form-group">
                <label for="form-price">Prix</label>
                <input id="form-price" class="form-control" type="number" name="price"
                       value="{{ item.price }}" placeholder="0.00" step="0.01"
                       min="0" max="999.99" required>
                {% if formErrors.price %}
                    {% for error in formErrors.price %}
                        <span class="help-block">{{ error }}</span>
                        {% endfor %}
                {% endif %}
            </div>
            <div class="form-group">
                <label for="form-cat_id">Catégorie</label>
                <select id="form-cat_id" class="form-control" name="category_catering_id" required>
                    {% set isSelected = ( item.categoryCateringid == 1) ? 'selected' : '' %}
                    {% if item.categoryCateringid == 1 %}
                        <option {{ isSelected }} value="{{ item.categoryCateringid }}">
                            Cantine [actuelle]
                        </option>
                    {% else %}
                        <option value="1">Cantine</option>
                    {% endif %}
                    {% set isSelected = ( item.categoryCateringid  == 2) ? 'selected' : '' %}
                    {% if item.categoryCateringid == 2 %}
                    <option {{ isSelected }} value="{{ item.categoryCateringid }}">
                        Café [actuelle]
                    </option>
                    {% else %}
                        <option value="2">Café</option>
                    {% endif %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Enregistrer</button>
        </form>
    </section>
{% endblock %}
