{% extends 'layout-admin.html.twig' %}

{% block title %}{{ parent() }} - Vélos{% endblock %}

{% block content %}
    <section class="container">
        {% if get.deleted is defined %}
            <section class="row">
                {% if get.deleted == 'true' %}
                    <div class="alert alert-success">L'item {{ get.id }} a été supprimé.</div>
                {% elseif get.deleted == 'false' %}
                    <div class="alert alert-danger">L'item {{ get.id }} n'existe pas.</div>
                {% endif %}
            </section>
        {% endif %}
        <div class="row">
            <h1>Atelier</h1>
            <ul class="nav nav-tabs">
                <li role="presentation" class="active">
                    <a href="/admin/atelier">Liste des réparations</a>
                </li>
                <li role="presentation">
                    <a href="/admin/atelier/categories">Modifier les catégories</a>
                </li>
            </ul>
            {% if notification %}
                <div class="alert alert-info" role="alert">
                    {{ notification }}
                </div>
            {% endif %}
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th class="hidden-xs">id</th>
                        <th>Nom</th>
                        <th>Prix</th>
                        <th>Catégorie</th>
                        <th></th>
                    </tr>
                    </thead>
                    <tbody>
                    <form method="post">
                        <tr class="active">
                            <td class=hidden-xs></td>
                            <td>
                                <input class="form-control" type="text" name="name" placeholder="Changement de roue..."
                                       value="{{ itemworkshopFormErrors.name.value }}"
                                       required>
                                {% if itemworkshopFormErrors.name.error %}
                                    <span class="help-block">{{ itemworkshopFormErrors.name.error }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <input class="form-control" type="number" name="price"
                                       value="{{ itemworkshopFormErrors.price.value }}" placeholder="0.00" step="0.01"
                                       min="0" max="999.99" required>
                                {% if itemworkshopFormErrors.price.error %}
                                    <span class="help-block">{{ itemworkshopFormErrors.price.error }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <select class="form-control" name="category_workshop_id" required>
                                    {% for category in categories %}
                                        {% set isSelected = (category.id == itemworkshopFormErrors.category_workshop_id.value) ? 'selected' : '' %}
                                        <option {{ isSelected }} value="{{ category.id }}">
                                            {{ category.name }}
                                        </option>
                                    {% endfor %}
                                </select>
                                {% if itemworkshopFormErrors.category_workshop_id.error %}
                                    <span class="help-block">{{ itemworkshopFormErrors.category_workshop_id.error }}</span>
                                {% endif %}
                            </td>
                            <td>
                                <button type="submit" class="btn btn-default">Ajouter</button>
                            </td>
                        </tr>
                    </form>

                    {% for item in items %}
                        <tr>
                            <td class="hidden-xs">
                                {{ item.id }}
                            </td>
                            <td>
                                {{ item.name }}
                            </td>
                            <td>
                                {{ item.price|number_format(2,',') }} €
                            </td>
                            <td>
                                {{ item.category_name }}
                            </td>
                            <td>
                                <a href="/admin/atelier/{{ item.id }}" class="btn btn-warning"> Modifier </a>
                                <form class="deleteButton admin-form-inline" method="POST" action="/admin/atelier/delete/{{ item.id }}">
                                    <input type="submit" class="btn btn-danger " value="Supprimer">
                                </form>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>
{% endblock %}
{% block javascript %}
<script src="/admin/assets/js/itemWorkshopDelete.js"></script>
{% endblock %}

