{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Accueil{% endblock %}
{% block stylesheet %}
    {{ parent() }}
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.css" type="text/css" rel="stylesheet" />
    <link href="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.css" type="text/css" rel="stylesheet" />
{% endblock %}

{% block content %}
    <div class="container">
            <div class="row justify-content-center">
            <div class="col-md-6">
                <h2 class="text-center">Pr<span class="e-cute">é</span>sentation</h2>
                <p class="text_presentation">Pas le temps d'entretenir votre vélo ? Envie d'un café ? Au Kitchen Kustoms vous pouvez
                    faire les deux !
                    Ramenez votre vélo on s'occupe de tout et pendant ce temps profitez de nos services de
                    bar et de restauration dans une ambiance unique !
                    Le tout en plein centre ville d'Orléans ! </p>
            </div>
            <div class="col-md-6 ">
                <h2 class="sr-only">Galerie</h2>
                <div class="row ">
                {% for i in 0..5 %}
                        <div class="col-md-4 col-xs-6 gallery_container">
                            <a href="assets/images/galleryhome/home{{ i+1 }}.jpg" class="gallery_home gallery ">
                                <img class="img-responsive gallery_image center-block " src="assets/images/galleryhome/Thumb/thumb{{ i+1 }}.jpg" alt="placeholder">
                            </a>
                        </div>
                {% endfor %}
                </div>
            </div>
        </div>
    
        <h2 class="text-center">Nos activit<span class="e-cute">é</span>s</h2>
        
        <div class="row activities">
            <div class="col-xs-6 col-md-3 ">
                <a href="/restauration" class="thumbnail activity">
                    <img src="/assets/images/activities-home/cafe.jpg" alt="Café">
                    <div class="activity-overlay"></div>
                    <h3 class="activity-name">Le Bar</h3>
                    <p class="activity-description">Grignoter, boire un bon café, un bon thé, une bière artisanale, du
                        vin naturel...</p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 ">
                <a href="/atelier" class="thumbnail activity">
                    <img src="/assets/images/activities-home/atelier.jpg" alt="Atelier">
                    <div class="activity-overlay"></div>
                    <h3 class="activity-name">L&#039;Atelier</h3>
                    <p class="activity-description">Faire réparer son vélo.</p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 ">
                <a href="/kustoms" class="thumbnail activity">
                    <img src="/assets/images/activities-home/kustoms.jpg" alt="Kustoms">
                    <div class="activity-overlay"></div>
                    <h3 class="activity-name">Les Kustoms</h3>
                    <p class="activity-description">Faire enjoliver son vélo pour une touche vintage.</p>
                </a>
            </div>
            <div class="col-xs-6 col-md-3 ">
                <a href="/boutique" class="thumbnail activity">
                    <img src="/assets/images/activities-home/boutique.jpg" alt="Boutique">
                    <div class="activity-overlay"></div>
                    <h3 class="activity-name">La Boutique</h3>
                    <p class="activity-description">Acheter un vélo unique à partir de chinage et d&#039;un incroyable
                        savoir-faire !</p>
                </a>
          </div>
    </div> 
{% endblock %}
{% block javascript %}
        {{ parent() }}
        <!-- LightBox -->
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.min.js" type="text/javascript" charset="utf-8"></script>
        <script src="//cdn.rawgit.com/noelboss/featherlight/1.7.13/release/featherlight.gallery.min.js" type="text/javascript" charset="utf-8"></script>
        <script type="application/javascript" src="/assets/js/lightboxgallery.js"> </script>
{% endblock %}