{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Kustom{% endblock %}

{% block content %}
    <div class="container">
        <h1 class="text-center">Nos Kustoms</h1>
        <p class="text-presentation text-center">Voici nos créations uniques faites à partir de chinage et de l'incroyable savoir-faire de Bruno !</p>
        {% for bike in bikes %}
            {% if bike.photoBefore is not empty %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                            <div class="row">
                                <div class="col-md-6 col-sm-6 hidden-xs">
                                    <img class="img-responsive img-rounded" src="{{ bike.photoBefore }}" alt="...">
                                </div>
                                <div class="col-md-6 col-sm-6">
                                    <img class="img-responsive img-rounded" src="{{ bike.photoAfter }}" alt="...">
                                </div>
                            </div>

                            <div class="caption">
                                <h2 class="text-center">{{ bike.name }}</h2>
                                <p class="text-center">{{ bike.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% else %}
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="thumbnail">
                            <div class="row">
                                <div class="col-md-offset-3 col-md-6 col-sm-12 col-xs-12">
                                    <img class="img-responsive img-rounded" src="{{ bike.photoAfter }}" alt="...">
                                </div>
                            </div>
                            <div class="caption">
                                <h2 class="text-center">{{ bike.name }}</h2>
                                <p class="text-center">{{ bike.description }}</p>
                            </div>
                        </div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
{% endblock %}
