{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Boutique{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style_shop.css">
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container text-center">
            <h1>
                Boutique
            </h1>
            <p>Notre boutique regroupe nos vélos kustom et nos vélos restaurés avec tout notre savoir-faire.</p>
        </div>
    </section>
    <div id="Shop_Gallery">
        <div class="container-fluid text-center">
            <div class="row no-gutters">

                {% for bike in bikes %}
                <div class=" col-xs-12 col-md-6 col-lg-4 clearfix">
                    <div class= "card card-inverse card-info thumbnail">
                    <div>
                        <img class="card-img-top {% if bike.sold == true %}vendu{% endif %}" src="{% if bike.photoAfter is null %}{{ default_bike }}{% else %}{{ bike.photoAfter }}{% endif %}" alt="{{ bike.name }}">
                        {% if bike.sold == true %}<img class="sold img-responsive" src="/assets/images/shop/SOLD.png" alt="label vendu">{% endif %}
                    </div>
                        <div class="card-block">
                            <p class="card-title"><span>&nbsp;"{{ bike.name|upper }}"&nbsp;</span></p>
                            <div class="card-text">
                                {{ bike.description }}
                            </div>
                            <div class="card-mark col-lg-12">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="title">FUN</th>
                                            <th><img class="mark" src="/assets/images/shop/{{ bike.getRateFun }}stars.png" alt="mark pics"></th>
                                        </tr>
                                        <tr>
                                            <th class="title">PRATIQUE</th>
                                            <th><img class="mark" src="/assets/images/shop/{{ bike.getRatePractice }}stars.png" alt="mark pics"></th>
                                        </tr>
                                        <tr>
                                            <th class="title">LOOK</th>
                                            <th><img class="mark" src="/assets/images/shop/{{ bike.getRateLook }}stars.png" alt="mark pics"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <span class="label label-warning">{{ bike.price }} <span>€</span></span>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

{% endblock %}
