{% extends 'layout.html.twig' %}

{% block title %}{{ parent() }} - Boutique{% endblock %}

{% block stylesheet %}
    <link rel="stylesheet" href="/assets/css/style_shop.css">
{% endblock %}

{% block content %}
    <section class="section">
        <div class="container text-center">
            <h1>
                Boutique
            </h1>
            <p>Notre boutique regroupe nos vélos kustom et nos vélos réstorés avec tous notre savoir faire.</p>
        </div>
    </section>
    <section id="Shop_Gallery" class="">
        <div class="container-fluid text-center">
            <div id="HORIZONTAL" class="row no-gutters">

                {% for bike in bikes %}
                <div class=" col-xs-12 col-md-6 col-lg-4">
                    <div class= "card {{ random(['card1', 'card2', 'card3', 'card4', 'card5', 'card1', 'card6', 'card7', 'card8', 'card2']) }} card-inverse card-info">
                        <img class="card-img-top" src="{% if bike.photoAfter is null %}{{ default_bike }}{% else %}{{ bike.photoAfter }}{% endif %}" alt"{{ bike.name }}">
                        <div class="card-block">
                            <p class="card-title"><span>&nbsp;"{{ bike.name|upper }}"&nbsp;</span></p>
                            <div class="card-text">
                                {{ bike.description }}
                            </div>
                            <div class="card-mark col-lg-12">
                                <table>
                                    <tbody>
                                        <tr>
                                            <th class="title">FUN</th>
                                            <th><img class="mark" src="/assets/images/shop/{{ bike.getRateFun }}stars.png" alt="mark pics"></th>
                                        </tr>
                                        <tr>
                                            <th class="title">PRATIQUE</th>
                                            <th><img class="mark" src="/assets/images/shop/{{ bike.getRatePractice }}stars.png" alt="mark pics"></th>
                                        </tr>
                                        <tr>
                                            <th class="title">LOOK</th>
                                            <th><img class="mark" src="/assets/images/shop/{{ bike.getRateLook }}stars.png" alt="mark pics"></th>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                        <div class="card-footer">
                            <button class="btn btn-info btn-lg text-dark">{{ bike.price }} <span>€</span></button>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </section>

{% endblock %}
